@import "tailwindcss";

@theme {
  --color-primary: #FFB703;
  --color-secondary: #023047;
  --color-accent: #FB8500;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}